<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="loginBox">
            <span>Kelebek</span>
            <div class="SingContainer" v-if="singStatus">
                <span class="LoginBoxInformation">Giriş</span>
                <input type="email" name="email" placeholder="Email" v-model="UserInputEmail">
                <input type="password" name="password" placeholder="Password" v-model="UserInputpassword">
                <div class="rememberMeButton"><input type="checkbox" name="" v-model="rememberChacked" id="rememberMeCheckBox"><label for="rememberMeCheckBox"> Beni Hatırla</label></div>
                <div class="button" @click="CheckUser()">Giriş</div>
            </div>
            <div class="SingContainer" v-if="!singStatus">
                <span class="LoginBoxInformation">Kayıt Ol</span>
                <input type="email" name="email" placeholder="Email" v-model="UserInputEmail">
                <input type="password" name="password" placeholder="Password" v-model="UserInputpassword">
                <input type="password" name="password" placeholder="Password" v-model="UserInputpassword2" @keypress="checkSingInPassword()">
                <span class="warningMessageBox">{{warning1}}</span>
                <div class="button" @click="CheckUser()">Kayıt Ol</div>
            </div>
        </div>
        <button @click="giris">Giriş</button>
    </div>  
    <script src="public/script.js"></script>
</body>
</html>