*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #24272D;
}

hr{
    background-color: black;
    width: 85%;
    height: 3px;
    border-radius: 20px;
}

.loginBox{
    background-color: #dfdfdf;
    width: 350px;
    height: 370px;
    border: 3px solid #666;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    transition: 0.3s;
}

.rememberMeCheckBoxLabel{
    cursor: pointer;
}

.SingContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.SingContainer input{
    font-size: 20px;
    border-radius: 3px;
    width: 250px;
    height: 33px;
    border: 1px solid black;
    padding-left: 5px;
    background-color: #dfdfdf;
    box-shadow: 2px 2px 5px black;
    color: black;
}

.button2{
    user-select: none;
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 100%;
    background-color: #24272D;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5);
}

.SingContainer .button{
    user-select: none;
    width: 250px;
    height: 30px;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #24272D;
    box-shadow: 2px 2px 5px black;
    color: white;
    margin-top: 20px;
}

/*
.loginBox > span{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 10px;
}
*/
.loginBox img{
    border: 3px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    user-select: none;
    margin-top: 10px;
}

.LoginBoxInformation{
    font-size: 20px;
    color:#666;
}

.warningMessageBox{
    font-size: 12px;
    color:red;
    height: 15px;
    width: auto;
}

.rememberMeButton{
    width: 250px;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    user-select: none;
    font-size: 14px;
    margin-top: -7px;
}

.rememberMeButton span{
    margin: 0px;
    background-color: blue;
}

.rememberMeButton input[type="checkbox"]{
    margin: 0px;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    margin: 5px;
}